VITE_API_URL=https://multi-modal-deepfake-detection.onrender.com

VITE_FIREBASE_API_KEY=AIzaSyCEfgNx7JeL5gUC3VuvZcZnHn1kcXW8Vzo
VITE_FIREBASE_AUTH_DOMAIN=deepfake-detection-a6d30.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=deepfake-detection-a6d30
VITE_FIREBASE_STORAGE_BUCKET=deepfake-detection-a6d30.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=329401419620
VITE_FIREBASE_APP_ID=1:329401419620:web:f4e3f708a5fb2a42389c71